#drag,
#spin {
  position: relative;
  display: flex;
  margin: auto;
  z-index: 2;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}

#drag img {
  transform-style: preserve-3d;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#ground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinRevert {
  from {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(0deg);
  }
}
