@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

::selection {
  color: #55b8ff;
  background: #5d75a5;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #eff6ff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #55b8ff;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
